<div class="menu">
    <ul>
        <li><%= link_to_unless_current "Home", page_home_path %></li>
        <li><%= link_to_unless_current "About Us", page_about_us_path %></li>
        <li><%= link_to_unless_current "Recipes", page_recipes_path %></li>
        <li><%= link_to_unless_current "Products", page_products_path %></li>
        <li><%= link_to_unless_current "Services", page_services_path %></li>
        <li><%= link_to_unless_current "Support", page_support_path %></li>
        <li><%= link_to_unless_current "Login", page_login_path %></li>
    </ul>
</div>

